<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}XXXXXXXX{% endblock %}</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-white bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:8000/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:8000/register">Register<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:8000/login">Login<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:8000/logout">Logout<span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <h2>User: {{ user }}</h2>
    {% block content %}XXXXXXXX{% endblock %}
</body>
</html>
