{% extends 'base.html' %}
{% load static %}

{% block css %}{% static 'css/registration.css' %}{% endblock %}

{% block title %}Register{% endblock %}

{% block heading %}Register{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>User is logged, can't register</h3>
    {% else %}
        <div class="main-box">
            <form action="#" method="post" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark registration_button">Register</button>
            </form>
            <h6><a href="/registration/login">Already have an account?</a></h6>
        </div>
    {% endif %}
{% endblock %}
