{% extends 'base.html' %}
{% load static %}

{% block css %}{% static 'css/editors_panel.css' %}{% endblock %}

{% block title %}{{ type }} Panel{% endblock %}

{% block heading %}{{ type }} Panel{% endblock %}

{% block content %}

    <div class="filter_manager">

        <form method='post'>
            {% csrf_token %}
            <label>
                <select name='author_filter'>
                    <option value=''>filter author</option>
                    {% for author in authors %}
                        <option value='{{ author.id }}'>{{ author.username }}</option>
                    {% endfor %}
                </select>
            </label>

            <label>
                <select name='status_filter'>
                    <option value=''>filter status</option>
                    {% for status in statuses %}
                        <option value='{{ status.status_number }}'>{{ status.status_name }}</option>
                    {% endfor %}
                </select>
            </label>

            <button type='submit' class='btn btn-dark image_button let_hover' name='filter_reports'>
                <img src='{% static 'img/filter_icon.png' %}' alt='filter_icon'/>
                <span class='hover_text'>filter by chosen status</span>
            </button>

        </form>

        <div class="filters_applied">
            {% if filters_applied %}
                {% for filter_type, filter_value in filters_applied.items %}
                    <p>{{ filter_type }}: {{ filter_value }}</p>
                {% endfor %}
            {% else %}
                <p>No filters</p>
            {% endif %}
        </div>

    </div>

    {% if reports_with_status %}

        <h3>Reports:</h3>
        <div class='row'>
            {% for report_with_status in reports_with_status %}
                {% include 'reports_list_display.html' with report_with_status=report_with_status %}
            {% endfor %}
        </div>

    {% else %}
        <p>No reports for now</p>
    {% endif %}

{% endblock %}
