{% extends 'base.html' %}

{% block title %}Mange Report{% endblock %}

{% block heading %}Mange Report{% endblock %}

{% block content %}
    <h2>{{ report.title }}</h2>
    <p><strong>Author:</strong> {{ report.author }}</p>
    <p><strong>Created At:</strong> {{ report.created_at }}</p>
    <p><strong>Description:</strong> {{ report.description }}</p>
    <p>
        <strong>Article:</strong> {{ report.article.title }}

    </p>
    <p><strong>Status:</strong> {{ report.status }}</p>
    <form method="get" action="{% url 'view_article' report.article.id %}">
        <button type="submit" name="view_article">View Article</button>
    </form>
    <form method="get" action="{% url 'edit_article' report.article.id %}">
        <button type="submit" name="edit_article">Edit Article</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <button type="submit" name="reject_article">Reject Article</button>
    </form>

    <form method="post">
        {% csrf_token %}
        <button type="submit" name="close_report">Close Report</button>
    </form>

    {% if report.additional_file %}
        <p><strong>Additional File:</strong></p>
        <img src="{{ report.additional_file.url }}" alt="Report Image">
    {% endif %}

    {% if request.session.is_master_editor %}
        <form method="post">
            {% csrf_token %}
            <label>
                <select name="editor_assign_id">
                    <option value="">Choose an editor</option>
                    {% for editor in editors %}
                        <option value="{{ editor.id }}">{{ editor.username }}</option>
                    {% endfor %}
                </select>
            </label>
            <input type="hidden" name="report_id" value="{{ report.id }}">
            <button type="submit">Assign</button>
        </form>
    {% endif %}

{% endblock %}
