{% load static %}

<link rel='stylesheet' type='text/css' href='{% static 'css/display_list_of_articles_or_reports.css' %}'>

<div class='col-lg-6 mb-4'>
    <div class='card list_element'>
        <div class='card-body'>
            <div class='row'>
                <div class='card-text article_title'>
                    <h5>{{ article_with_steps.article.title }}</h5>
                    <p class='card-text steps_display'>Steps: {{ article_with_steps.steps_amount }}</p>
                </div>
                <p class='card-text'>Author: {{ article_with_steps.article.author }}</p>
                <p class='card-text'>
                    Tags: {% for tag in article_with_steps.article.tags.all %}
                    #{{ tag.name }}{% if not forloop.last %} {% endif %}
                {% endfor %}
                </p>
                <form method='get' action='{% url 'view_article' article_with_steps.article.id %}'>
                    <button type='submit' name='view_article'
                            class='btn btn-dark image_button view_article_button let_hover'>
                        <img class='rounded float-end'
                             src='{% static 'img/view_article_icon.png' %}' alt='view'>
                        <span class='hover_text'>view article</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
