{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/display_report.css' %}">

<div class="card">

    <div class="left">
        <div class="left-image">
            <img src="{{ report.additional_file.url }}" alt="Report Image">
        </div>
        <div class="left-text">
            <p><strong>Created At:</strong> {{ report.created_at }}</p>
        </div>
        <div class="left-text">
            <p><strong>Status:</strong> {{ report.status }}</p>
        </div>
    </div>

    <div class="right">
        <h2>{{ report.title }}</h2>
        <div class="author"><img src="{% static 'img/favicon.png' %}" alt="user_icon"/>{{ report.author }}</div>
        <div class="separator"></div>
        <p><strong>About Article:</strong> {{ report.article.title }}</p>
        <div class="separator"></div>
        <p>{{ report.description }}</p>

        <div class="right-buttons">
            <ul>
                {% if request.session.is_master_editor %}
                    <li class="assign_form">
                        <form method="post">
                            {% csrf_token %}
                            <label>
                                <select name="editor_assign_id">
                                    <option value="">Choose an editor</option>
                                    {% for editor in editors %}
                                        <option value="{{ editor.id }}">{{ editor.username }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <input type="hidden" name="report_id" value="{{ report.id }}">
                            <button type="submit" class="btn btn-dark image_button" name="assign_report">
                                <img src="{% static 'img/assign_report_icon.png' %}" alt="assign_report_icon"/>
                                <span class="hover_text">assign a report to chosen editor</span>
                            </button>
                        </form>
                    </li>
                {% endif %}
                <li>
                    <form method="get" action="{% url 'view_article' report.article.id %}">
                        <button type="submit" class="btn btn-dark image_button" name="view_article">
                            <img src="{% static 'img/view_article_icon.png' %}" alt="view_article_icon"/>
                            <span class="hover_text">view reported article</span>
                        </button>
                    </form>
                </li>
                {% if request.session.is_editor %}
                    <li>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-dark image_button" name="reject_article">
                                <img src="{% static 'img/reject_article_icon.png' %}" alt="reject_article_icon"/>
                                <span class="hover_text">reject an article</span>
                            </button>
                        </form>
                    </li>
                    <li>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-dark image_button" name="close_report">
                                <img src="{% static 'img/close_report_button.png' %}" alt="close_report_button"/>
                                <span class="hover_text">close the report</span>
                            </button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>

</div>