{% extends 'base.html' %}

{% block title %}Create Article Page{% endblock %}

{% block content %}
    <h1>Create Article page</h1>
    {% if user.is_authenticated %}
        <h3>Logged user content</h3>
        <h3>Add Article:</h3>
        <form action="#" method="post" class="form-group">
            {% csrf_token %}
            {{ article_form.as_p }}
            <br>
            {{ step_form_set.management_form }}
            {{ step_form_set.non_form_errors }}
            {% for step_form in step_form_set %}
                {{ step_form.as_p }}
                <br>
            {% endfor %}
            <button type="submit" class="btn btn-success" value="Save">Save</button>
        </form>
    {% else %}
        <h3>User not authenticated, login <a href="/registration/login">HERE</a></h3>
    {% endif %}
{% endblock %}
