{% extends 'base.html' %}

{% block title %}Create Article Page{% endblock %}

{% block content %}
    <h1>Create Article page</h1>
    {% if user.is_authenticated %}
        <h3>Logged user content</h3>
        <h3>Add Article:</h3>
        <form action="#" method="post" class="form-group" id="article-form">
            {% csrf_token %}
            {{ article_form.as_p }}
            <br>
            {{ step_form_set.management_form }}
            {{ step_form_set.non_form_errors }}
            <div id="steps-formset">
                {% for step_form in step_form_set %}
                    <div class="step-form">
                        <h3>ANOTHER STEP</h3>
                        {{ step_form.as_p }}
                        <br>
                    </div>
                {% endfor %}
            </div>
            <p><a href="#" id="remove-step-button" class="btn btn-secondary remove-step-button">Remove Step</a></p>
            <p><a href="#" id="add-step-button" class="btn btn-secondary add-step-button">Add Another Step</a></p>
            <p><button type="submit" class="btn btn-success" value="Save">Save</button></p>
        </form>
    {% else %}
        <h3>User not authenticated, login <a href="/registration/login">HERE</a></h3>
    {% endif %}
    <script>
        let addStepButton = document.getElementById("add-step-button");
        let removeStepButton = document.getElementById("remove-step-button");
        let stepsFormset = document.getElementById("steps-formset");
        let stepForms = document.querySelectorAll(".step-form");
        let stepFormTemplate = document.querySelector(".step-form").cloneNode(true);
        let stepCounter = {{ step_form_set|length }};
        let totalFormsInput = document.querySelector('input[name$="TOTAL_FORMS"]');

        addStepButton.addEventListener("click", function(e) {
            if (e.target && e.target.classList.contains("add-step-button")) {
                e.preventDefault();
                let newStepForm = stepFormTemplate.cloneNode(true);
                newStepForm.innerHTML = newStepForm.innerHTML.replace(/form-0/g, "form-" + stepCounter);
                stepsFormset.appendChild(newStepForm);
                totalFormsInput.value = stepCounter + 1;
            }
        });
        removeStepButton.addEventListener("click", function(e) {
            if (e.target && e.target.classList.contains("remove-step-button")) {
                e.preventDefault();
                if (stepForms.length > 0) {
                    let stepForm = stepForms[stepForms.length - 1];
                    stepForm.remove();
                    totalFormsInput.value = stepCounter - 1;
                }
            }
        });
    </script>
{% endblock %}
