{% extends 'base.html' %}

{% block title %}Create Article Page{% endblock %}

{% block content %}
    <h1>Create Article page</h1>
    {% if user.is_authenticated %}
        <h3>Logged user content</h3>
        <h3>Add Article:</h3>
        <form action="#" method="post" class="form-group" id="article-form">
            {% csrf_token %}
            {{ article_form.as_p }}
            <br>
            {{ step_form_set.management_form }}
            {{ step_form_set.non_form_errors }}
            <div id="steps-formset">
                {% for step_form in step_form_set %}
                    <div class="step-form">
                        <h3>ANOTHER STEP</h3>
                        {{ step_form.as_p }}
                        <button type="button" class="btn btn-danger remove-step-button">Remove Step</button>
                        <br>
                    </div>
                {% endfor %}
            </div>
            <a href="#" id="add-step-button" class="btn btn-secondary add-images">Add Another Step</a>
            <button type="submit" class="btn btn-success" value="Save">Save</button>
        </form>
    {% else %}
        <h3>User not authenticated, login <a href="/registration/login">HERE</a></h3>
    {% endif %}
    <script>
        // Znajdź przycisk "Add Another Step"
        var addStepButton = document.getElementById("add-step-button");

        // Znajdź kontener div "steps-formset"
        var stepsFormset = document.getElementById("steps-formset");

        // Klonuj wzorzec pierwszego formularza kroku
        var stepFormTemplate = document.querySelector(".step-form").cloneNode(true);

        // Licznik używany do generowania unikalnych identyfikatorów dla nowych kroków
        var stepCounter = {{ step_form_set|length }};

        // Funkcja dodawania nowego formularza kroku
        addStepButton.addEventListener("click", function(e) {
            if (e.target && e.target.classList.contains("add-step-button")) {
                e.preventDefault();
                var newStepForm = stepFormTemplate.cloneNode(true);
                stepCounter++;
                var formPrefix = "formset-" + stepCounter;
                newStepForm.innerHTML = newStepForm.innerHTML.replace(/formset-0/g, formPrefix);
                newStepForm.innerHTML = newStepForm.innerHTML.replace(/id_steps-0/g, "id_steps-" + stepCounter);
                // Aktualizuj etykiety na formularzu kroku
                newStepForm.querySelectorAll("label").forEach(function(label) {
                    label.htmlFor = label.htmlFor.replace(/formset-0/g, formPrefix);
                });
                stepsFormset.appendChild(newStepForm);
            }
        });
        document.addEventListener("click", function(e) {
            if (e.target && e.target.classList.contains("remove-step-button")) {
                e.preventDefault();
                var stepForm = e.target.parentElement;
                stepForm.remove();
            }
        });
    </script>
{% endblock %}
