{% extends 'user_app_base.html' %}

{% block title %}Edit Article Page{% endblock %}

{% block content %}
    <h1>Edit Article page</h1>
    {% if user.is_authenticated %}
        <h3>Logged user content</h3>
        <h3>Add Article:</h3>
        <form action="#" method="post" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    {% else %}
        <h3>User not authenticated, login <a href="/registration/login">HERE</a></h3>
    {% endif %}
{% endblock %}
