{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h1>Home page</h1>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <p>
            <button type="button" class="btn btn-dark"><a href="/user_app/search">Search articles</a></button>
        </p>

        {% if user.is_authenticated %}
            <p>
                <button type="button" class="btn btn-dark"><a href="/user_app/create_article">Create article</a></button>
            </p>
            <p>
                <button type="button" class="btn btn-dark"><a href="/user_app/user_panel">Go to user panel</a></button>
            </p>
            {% if request.session.is_editor %}
                <p>
                    <button type="button" class="btn btn-dark">
                        <a href="/editor_app/editor_panel">Go to editor panel</a></button>
                </p>
            {% endif %}
            {% if request.session.is_master_editor %}
                <p>
                    <button type="button" class="btn btn-dark">
                        <a href="/editor_app/master_editor_panel">Go to master editor panel</a></button>
                </p>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
