{% extends 'base.html' %}

{% block title %}Search Page{% endblock %}

{% block content %}
    <h1>Search page</h1>
    <h3>Search by title</h3>
    <form method="post">
        {% csrf_token %}
        {{ search_name_form.as_p }}
        <button type="submit" name="search_title" class="btn btn-dark">Search by Title</button>
    </form>

    <h3>Search by tags</h3>
    <form method="post">
        {% csrf_token %}
        {{ search_tags_form.as_p }}
        <button type="submit" name="search_tags" class="btn btn-dark">Search by Tags</button>
    </form>

    {% if user.is_authenticated %}
        <h3>Search by ownership</h3>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="search_ownership" class="btn btn-dark">Search by Ownership</button>
        </form>
    {% endif %}

    {% if search_result %}
        <h3>Search Results:</h3>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Created At</th>
                <th>Tags</th>
            </tr>
            </thead>
            <tbody>
            {% for article in search_result %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.author }}</td>
                    <td>{{ article.created_at }}</td>
                    <td>
                        {% for tag in article.tags.all %}
                            {{ tag.name }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <form method="get" action="{% url 'view_article' article.id %}">
                            <button type="submit" name="view_article">View</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
