{% extends 'base.html' %}
{% load static %}

{% block css %}{% static 'css/search.css' %}{% endblock %}

{% block title %}Search{% endblock %}

{% block heading %}Search{% endblock %}

{% block content %}
    <form method='post'>
        {% csrf_token %}
        {{ search_name_form.as_p }}
        <button type='submit' name='search_by_title' class='btn btn-dark form-control form-control-sm'>Search by Title
        </button>
    </form>

    <form method='post'>
        {% csrf_token %}
        {{ search_tags_form.as_p }}
        <button type='submit' name='search_by_tags' class='btn btn-dark form-control form-control-sm'>Search by Tags
        </button>
    </form>

    {% if user.is_authenticated %}
        <form method='post'>
            {% csrf_token %}
            <button type='submit' name='search_by_ownership' class='btn btn-dark form-control form-control-sm'>
                Search by Ownership
            </button>
        </form>
    {% endif %}
    <br>
    {% if search_result %}
        <h3>Search Results:</h3>
        <div class='row'>
            {% for result in search_result %}
                {% include 'articles_list_display.html' with result=result %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
