{% extends 'base.html' %}
{% load static %}

{% block css %}{% static 'css/search.css' %}{% endblock %}
{% block title %}Search Page{% endblock %}

{% block content %}
    <h1>Search page</h1>
    <form method="post">
        {% csrf_token %}
        {{ search_name_form.as_p }}
        <button type="submit" name="search_title" class="btn btn-dark form-control form-control-sm">Search by Title
        </button>
    </form>

    <form method="post">
        {% csrf_token %}
        {{ search_tags_form.as_p }}
        <button type="submit" name="search_tags" class="btn btn-dark form-control form-control-sm">Search by Tags
        </button>
    </form>

    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="search_ownership" class="btn btn-dark form-control form-control-sm">
                Search by Ownership
            </button>
        </form>
    {% endif %}
    <br>
    {% if search_result %}
        <h3>Search Results:</h3>
        {% for result in search_result %}
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">{{ result.article.title }}</h5>
                            <p class="card-text">{{ result.article.author }}</p>
                            <p class="card-text">
                                {% for tag in result.article.tags.all %}
                                    #{{ tag.name }}{% if not forloop.last %} {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p class="card-text text-end">Steps: {{ result.steps_amount }}</p>
                            <form method="get" action="{% url 'view_article' result.article.id %}">
                                <button type="submit" name="view_article" class="btn btn-dark view_article_button
                                d-flex align-items-center justify-content-center position-absolute bottom-0 end-0">
                                    <img class="rounded float-end" src="{% static 'img/view_article_icon.png' %}"
                                         alt="view">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
