{% extends 'base.html' %}

{% block title %}User Panel{% endblock %}

{% block heading %}User Panel{% endblock %}

{% block content %}

    {% if articles_with_steps %}
        <h3>Your Articles:</h3>
        <div class="row">
            {% for result in articles_with_steps %}
                {% include 'articles_list_display.html' with result=result %}
            {% endfor %}
        </div>
    {% else %}
        <p>You haven't authored any articles yet.</p>
    {% endif %}

    {% if reports %}
        <h3>Your Reports:</h3>
        <div class="row">
            {% for report in reports %}
                {% include 'reports_list_display.html' with report=report %}
            {% endfor %}
        </div>
    {% else %}
        <p>You haven't authored any reports yet.</p>
    {% endif %}

{% endblock %}
