{% extends 'base.html' %}

{% block title %}View Article Page{% endblock %}

{% block content %}
    <h1>View Article page</h1>

    <h2>Title: {{ article.title }}</h2>
    <p>Author: {{ article.author.username }}</p>
    <p>Created At: {{ article.created_at }}</p>
    <p>Status: {{ article.status }}</p>
    <p>Tags:
        {% for tag in article.tags.all %}
            {{ tag.name }}
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>Steps:
        {% for step in steps %}
            <p>{{ step.ordinal_number }}</p>
            <p>{{ step.title }}</p>
            <p>{{ step.description1 }}</p>
            <p>{{ step.file1 }}</p>
            <p>{{ step.description2 }}</p>
            <p>{{ step.file2 }}</p>
        {% endfor %}
    </p>
    {% if user.is_authenticated %}
        {% if can_edit %}
            <form method="get" action="{% url 'edit_article' article.id %}">
                <button type="submit" name="edit_article">Edit</button>
            </form>
        {% endif %}
        <form method="get" action="{% url 'report_article' article.id %}">
            <button type="submit" name="report_article">Report</button>
        </form>
    {% endif %}
{% endblock %}
