body {
    background-color: lightblue;
    font-family: verdana, serif;
    color: darkolivegreen;
    align-content: center;
}

.content {
    padding: 20px;
    min-width: 80%;
    max-width: 100%;
    width: 600px;
    margin: 0 auto 60px;
}

.nav-link {
    color: olive;
    font-size: 20px;
}

footer {
    color: olive;
    font-size: 20px;
}

button {
    margin: 5px;
}

.navbar-brand-custom {
    color: olive;
    background-color: lightblue;
    font-size: 22px;
    font-weight: bold;
    border: 0;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
}

.navbar-brand-custom img {
    width: auto;
    height: 35px;
}

.navbar-nav .nav-link:hover {
    color: darkolivegreen;
}