.list_element {
    border-radius: 20px;
    border: 3px solid black;
    background-color: #f8f8f8;
}

.article_title {
    width: calc(100% - 65px);
}

.view_article_button {
    bottom: 0;
    right: 10px;
}

.view_report_button {
    bottom: 0;
    right: 10px;
}

.manage_report_button {
    bottom: 0;
    right: 10px;
}

.manage_report_button img {
    width: 28px;
    height: auto;
}

.steps_display {
    position: absolute;
    top: 15px;
    right: 15px;
}
